@font-face {
    font-family: Midorima;
    src: url(https://raw.githack.com/FearsRedemption/jamsandtoast/main/fonts/Midorima-Regular.ttf);
}

:root {
    --scarlet: #FF2400;
    --violet: #8F00FF;

    /* Color Palette */
    --raisinBlack: #1B191C;
    --unbleachedSilk: #F4D8CD;
    --middleYellowRed: #EDB183;
    --redSalsa: #F15152;
    --grayWeb: #797B84;
}

body {
    padding: 10px;
    background-color: var(--raisinBlack);
}

h1 {
    font-weight: bold;
    color: deepskyblue;
    text-shadow: -2px 2px 2px black, 2px 2px 2px black, 2px -2px 0 black, -2px -2px 0 black;
}

h2 {
    padding: 1%;
    font-weight: bold;
    color: white;
    text-shadow: -2px 2px 2px black, 2px 2px 2px black, 2px -2px 0 black, -2px -2px 0 black;
}

#timers {
    padding-top: 13%;
    text-align: center;
}
